@font-face {
    font-family: 'FuturaF';
    src: url('./fonts/futuraFuturisLight.woff2'),
         url('./fonts/futuraFuturisLight.woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaF';
    src: url('./fonts/futuraFuturisRegular.woff2'),
         url('./fonts/futuraFuturisRegular.woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaF';
    src: url('./fonts/futuraFuturisBold.woff2'),
         url('./fonts/futuraFuturisBold.woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}