$ff-prime: 'FuturaF', sans-serif;

$fz-xs: 14px;
$fz-s: 18px;
$fz-m: 20px;
$fz-l: 24px;
$fz-xl: 32px;
$fz-bigger: 64px;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

$lh-s: 17px;
$lh-m: 19px;
$lh-l: 22px;
$lh-xl: 48px;
$lh-bigger: 78px;

$clr-white: #ffffff;
$clr-black: #000000;
$clr-grey: #919191;
$clr-grey-dark: #252525;
$clr-gradient-slider: linear-gradient(to right, rgba(rgb(46, 46, 46), .01), rgba(rgb(0, 0, 0), .65) 20%);
