$ff-prime: 'FuturaF', sans-serif;

$fz-s: 17px;
$fz-m: 19px;
$fz-l: 22px;
$fz-xl: 40px;
$fz-bigger: 64px;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

$lh-s: 17px;
$lh-m: 19px;
$lh-l: 22px;
$lh-xl: 48px;
$lh-bigger: 78px;

$clr-text: #ffffff;
$clr-bg: #000000;
$clr-grey: #919191;
$clr-grey-dark: #252525;
