@font-face {
    font-family: 'FuturaF';
    src: url('./FuturaFuturis_Light.woff2'),
         url('./FuturaFuturis_Light.woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaF';
    src: url('./FuturaFuturis_Regular.woff2'),
         url('./FuturaFuturis_Regular.woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaF';
    src: url('./FuturaFuturis_Bold.woff2'),
         url('./FuturaFuturis_Bold.woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}