@import '../../styles/variables.scss';

.slider {
    background-color: $clr-grey-dark;
    max-width: 1000px;
    height: 400px;
    width: 100%;
    position: relative;
    border-radius: 8px;
    margin: 20px auto;
    // overflow: hidden;
}

.slide {
    transition: opacity ease-in-out;
    width: 100%;
    height: 100%;
    transition-duration: 300ms;
    position: relative;

    &__text {
        position: absolute;
        padding-bottom: 5%;
        right: 0;
        width: 35%;
        height: 100%;
        display: flex;
        padding-left: 2%;
        justify-content: flex-end;
        flex-direction: column;
        background: $clr-gradient-slider;

        &_title {
            font-size: $fz-xl;
            line-height: 140%;
            background: none;
            font-weight: $fw-regular;
            text-transform: uppercase;
        }

        &_genre {
            font-size: $fz-s;
            line-height: 140%;
            background: none;
        }

        &_description {
            font-size: $fz-xs;
            line-height: 140%;
            background: none;
            padding-bottom: 15px;
        }
    }

    &__btn {
        text-transform: uppercase;
        font-size: $fz-xs;
        width: 45%;
        padding: 15px;
        border: 1px  solid $clr-white;
        transition: .4s ease;

        &:hover {
            background: $clr-white;
            color: $clr-black;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 20px);
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    &--left {
        left: -3%;
        transform: rotate(180deg);
    }

    &--right {
        right: -3%;
    }
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}
// @import '../../styles/variables.scss';

// .slider {
//     background-color: $clr-grey-dark;
//     max-width: 1000px;
//     height: 400px;
//     width: 100%;
//     position: relative;
//     border-radius: 8px;
//     margin: 20px auto;
//     overflow: hidden;
// }

// .slide {
//     display: flex;
//     transition: opacity ease-in-out;
//     width: 100%;
//     height: 100%;
//     transition-duration: 300ms;

//     &__text {
//         flex: 1;
//         padding: 0 100px;
//         display: flex;
//         justify-content: center;
//         flex-direction: column;

//         &_title {
//             font-weight: 700;
//             font-size: 25px;
//             line-height: 140%;
//             margin-bottom: 10%;
//         }

//         &_description {
//             font-style: italic;
//             font-size: 17px;
//             line-height: 140%;
//         }

//         &_genre {
//             font-size: 17px;
//             line-height: 140%;
//             font-weight: 700;
//         }
//     }

//     &__img {
//         width: 50%;
//         background-repeat: no-repeat;
//         background-position: center;
//         background-size: cover;
//     }
// }

// .arrow {
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     background-color: white;
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     top: calc(50% - 20px);
//     opacity: 0.5;

//     &:hover {
//         opacity: 1;
//     }

//     &--left {
//         left: 24px;
//         transform: rotate(180deg);
//     }

//     &--right {
//         right: 24px;
//     }
// }

// .fade-out {
//     opacity: 0;
// }

// .fade-in {
//     opacity: 1;
// }